<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <app-serarch></app-serarch>
        </div>
        <div class="col-md-9">
            <div class="row carousel-padding">
                <app-carousel></app-carousel>
            </div>
            <div class="row">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
    <!-- <app-reactive-regist></app-reactive-regist> -->
    <!-- <app-templateform></app-templateform> -->
    <!-- <app-stores></app-stores> -->
    <!-- <app-websock></app-websock> -->