<div class="row">
    <div *ngFor="let product of Products" class="col-lg-4  col-sm4">
        <div class="thumbnail img_div">
            <img [src]="imgURL" />
        </div>
        <div class="caption">
            <h4 class='pull-right'> {{product.price}} 元</h4>
            <h4>
                {{product.id}}
                <a [routerLink]="['/product', product.id]">{{product.title }}</a>
            </h4>
            <p>{{product.desc}}</p>
            <span>{{product.type}}</span>
        </div>
        <div>
            <app-stars [rating]="product.rating"></app-stars>
        </div>
    </div>
</div>